html{font-size:16px}
.avatar{width:225px;height:225px}
.home-section{padding:15px}
h3.article-title{
 color:rgb(49, 96, 52);
 text-decoration:none;
 transition:color .6s ease
}
a{
 color:rgb(49, 96, 52);
 text-decoration:none;
 text-decoration-color:rgb(49, 96, 52);
 transition:color .6s ease
	    
}
a:focus{
 color:rgb(49, 96, 52);
 text-decoration:none;
 text-decoration-color:rgb(49, 96, 52);
 transition:color .6s ease
}
a:hover{
 color:rgb(49, 96, 52);
 text-decoration:none;
 text-decoration-color:rgb(49, 96, 52);
 transition:color .6s ease
}
body{
    font-weight:300;
}
navbar-brand{
    color:rgb(49, 96, 52)
}
navbar-brand:focus{
    color:rgb(49, 96, 52)
}
navbar-light:hover{
    color:rgb(49, 96, 52)
}
navbar-light{
    color:rgb(49, 96, 52)
}
